.ic-storyPage {
  align-items: center;
  animation: 1s ease-in;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.ic-storyPage-closeButton {
  margin: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
