@import './storyPaging/index.css';

.ic-story {
  align-items: center;
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 645.531px;
  position: relative;
  transform-origin: left center;
  width: 363.111px;
}

.ic-story-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: 10px;
  width: 95%;
}

.ic-story-image {
  background-color: black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.ic-story-prevSlide {
  background: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.ic-story-nextSlide {
  background: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.ic-story-prevStory {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  left: -30px;
  padding: 5px;
  position: absolute;
  top: 50%;
}

.ic-story-prevStory:hover {
  cursor: pointer;
}

.ic-story-nextStory {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  position: absolute;
  right: -30px;
  top: 50%;
}

.ic-story-nextStory:hover {
  cursor: pointer;
}

.ic-story-header-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.ic-story-header-userInfo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.ic-story-header-userInfo-user {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.ic-story-header-userInfo-time {
  color: white;
  font-size: 15px;
  font-weight: 200;
  line-height: 18px;
  margin-left: 8px;
}

.ic-story-header-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

@media (min-width: 768px) {
  .ic-story {
    width: 523.797px;
    height: 931.194px;
  }
}
