.ic-SearchInput {
  align-items: center;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  color: grey;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.ic-SearchInput-input {
  background: none;
  border: none;
  height: auto;
  margin-left: 4px;
  outline: none;
  width: 90%;
}
