.ic-feedPost {
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  height: 879px;
  margin-bottom: 16px;
  padding: 14px 14px 14px 16px;
  position: relative;
}

.ic-feedPost-header {
  align-items: center;
  display: flex;
  height: 5%;
  justify-content: space-between;
  width: 100%;
}

.ic-feedPost-imageContainer {
  height: 75%;
  width: 100%;
}

.ic-feedPost-imageContainer img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.ic-feedPost-footer {
  height: 20%;
  position: relative;
}

.ic-feedPost-options {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: space-between;
  width: 100%;
}

.ic-feedPost-options-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.ic-feedPost-likes {
  font-size: 14px;
}

.ic-feedPost-comments {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 8px;
}

.ic-feedPost-comments-viewComments {
  color: grey;
  margin: 8px 0;
}

.ic-feedPost-comments-time {
  color: grey;
  font-size: 12px;
}

.ic-feedPost-comments-create {
  align-items: center;
  border-top: 1px solid grey;
  display: flex;
  height: 25%;
  justify-content: space-between;
  margin-top: 8px;
}

.ic-feedPost-comments-createInputSection {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  width: 90%;
}

.ic-feedPost-comments-createInput {
  border: none;
  font-size: 14px;
  height: 100%;
  margin: 0px 0px 0px 8px;
  outline: none;
  padding: 0;
  width: 100%;
}

.ic-feedPost-comments-createButton {
  background-color: transparent;
  border: none;
  color: rgba(0, 146, 214, 0.493);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}
