.ic-sideBar {
  height: 100%;
  margin: 16px 0px 16px;
  position: fixed;
  top: 120px;
}

.ic-sideBar-content {
  width: 100%;
}

.ic-sideBar-suggestions-header {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  margin: 16px 0;
  margin: 32px 0 16px;
}

.ic-sideBar-suggestions-header button {
  background: none;
  border: none;
  font-weight: bold;
}

.ic-sideBar-sugesstionsUser {
  margin: 16px 0px;
}
