.ic-storyIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.ic-storyIcon-image {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(211, 211, 211);
  object-fit: contain;
}

.ic-storyIcon-image img {
  height: 54px !important;
  width: 54px !important;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.ic-storyIcon-label {
  font-size: 12px;
  text-transform: lowercase;
}
