.ic-storyPaging {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.ic-storyPaging-slide {
  height: 2px;
  flex: 1;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.ic-storyPaging-slideTimeViewed {
  background-color: white;
  height: 100%;
  width: 100%;
}

.ic-storyPaging-slideTime {
  animation: 9s slide forwards;
  background-color: white;
}

@keyframes slide {
  0% {
    height: 100%;
    width: 0%;
  }

  100% {
    height: 100%;
    width: 100%;
  }
}
