.ic-storyIconCarrousel {
  height: 100%;
  width: 98%;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 16px 0px 16px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.ic-storyIconCarrousel a {
  text-decoration: none;
}

.ic-storyIconCarrousel-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.ic-storyIconCarrousel-content::-webkit-scrollbar {
  display: none;
}

.ic-storyIconCarrousel-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ic-storyIconCarrousel-arrowRight {
  position: absolute;
  right: 10px;
  top: auto;
  opacity: 0;
  transition: 0.1s ease-in;
}

.ic-storyIconCarrousel-arrowRight:hover {
  opacity: 1;
}

.ic-storyIconCarrousel-arrowLeft {
  position: absolute;
  left: 10px;
  top: auto;
  opacity: 0;
  transition: 0.1s ease-in;
}

.ic-storyIconCarrousel-arrowLeft:hover {
  opacity: 1;
}

.ic-storyIconCarrousel-story {
  margin: 0px 8px;
}
