.ic-avatar {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  width: auto;
}

.ic-avatar-circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.ic-avatar-circle-img {
  border-radius: 50%;
  height: 30px;
  object-fit: cover;
  width: 30px;
}
