.ic-homePage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

.ic-homePage-content {
  max-width: 975px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-homePage-feed {
  margin-top: 52px;
  height: 100%;
  width: 70%;
  background-color: white;
}

.ic-homePage-sideBarContainer {
  width: 30%;
  height: 100%;
  margin: 70px 0px 16px 32px;
  display: flex;
}
