.ic-homePage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

.ic-homePage-content {
  max-width: 975px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-homePage-feed {
  margin-top: 52px;
  height: 100%;
  width: 70%;
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.ic-homePage-feedPosts {
  width: 100%;
  height: 100%;
  min-height: 70vh;
}

.ic-homePage-storiesContainer {
  height: 118px;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ic-homePage-sideBarContainer {
  width: 30%;
  height: 100%;
  margin: 70px 0px 16px 32px;
  display: flex;
}

@media (max-width: 975px) {
  .ic-homePage-feed {
    width: 100%;
  }
  
  .ic-homePage-sideBarContainer {
    display: none;
  }
}
